
<body><article id="9bbb03a2-bd4d-44b2-9561-a9dc506573e4" class="page sans"><div class="page-body">
    <img src="{{ url_for('static', filename='img/duu_image.jpeg', _v=(int(time.time()))) }}" alt="Dashboard Image">
    <img src="{{ url_for('static', filename='img/ab_test.jpeg', _v=(int(time.time()))) }}" alt="Dashboard Image">
   <figure class="block-color-yellow_background callout" style="white-space:pre-wrap;display:flex; align-items: center; justify-content: center;" 
                id="bccca238-c3de-448e-a2cd-797fd63d6d39">
            <div style="font-size:1.5em"><span class="icon">🏠</span></div>
            <div style="width:100%"><a href="/" style="font-size: 20px;">  홈 화면으로 돌아가기 </a></div>
        </figure>
    </div></article></body>
